.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	margin-bottom: 50px;
	padding-top: 30px;
}

.nav {
}

.nav-button {
	display: none;
	cursor: pointer;
}

.nav-list {
	display: flex;
	align-items: center;
	gap: 105px;

	font-family: Finlandica;
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
}

.nav-item {
}

.nav-item:nth-child(1) {
	color: $orange;
	position: relative;
}

.nav-item:nth-child(1)::after {
	content: url('/images/BRUSH STROKE.svg');
	position: absolute;
	bottom: -15px;
	left: 0;
}

.nav-link {
}

.nav-link.active {
	color: $orange;
}

.contact {
	background: $blue;
	padding: 7px 21px;
	border-radius: 2px;

	a {
		font-family: Finlandica;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}
